In [1]:
import pandas as pd

In [2]:
ls

 Volume in drive C is OS
 Volume Serial Number is D2E1-76B7

 Directory of C:\Users\medar\Downloads\Kaggle-competition\Space_Mission_Analysis

08/25/2020  06:40 PM    <DIR>          .
08/25/2020  06:40 PM    <DIR>          ..
08/25/2020  06:40 PM    <DIR>          .ipynb_checkpoints
08/25/2020  06:39 PM           632,978 data.csv
08/25/2020  06:39 PM                72 Getting started.ipynb
               2 File(s)        633,050 bytes
               3 Dir(s)  196,223,713,280 bytes free

In [3]:
df = pd.read_csv('data.csv')

In [4]:
df.head()

,Unnamed: 0,Unnamed: 0.1,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission
0,0,0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success
1,1,1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,2,2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,3,3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success
4,4,4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145.0,Success